/* general styles */

html {
    position: relative;
    height: 100%;
}

body {
  color: #A99A80;
  font-family: 'corbel', Corbel, sans-serif;
  font-size: 1.2rem;
  height: 100%;
	position: relative;
}

@font-face {
    font-family: 'corbel';
    src: url('../fonts/corbel.eot');
    src: url('../fonts/corbel-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/corbel-webfont.woff') format('woff'),
             url('../fonts/corbel.ttf') format('truetype'),
             url('../fonts/corbel-webfont.svg#corbel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sketch_blockbold';
    src: url('../fonts/sketch_block-webfont.eot');
    src: url('../fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sketch_block-webfont.woff2') format('woff2'),
         url('../fonts/sketch_block-webfont.woff') format('woff'),
         url('../fonts/sketch_block-webfont.ttf') format('truetype'),
         url('../fonts/sketch_block-webfont.svg#sketch_blockbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'film_crypticregular';
    src: url('../fonts/filmcryptic-webfont.eot');
    src: url('../fonts/filmcryptic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/filmcryptic-webfont.woff2') format('woff2'),
         url('../fonts/filmcryptic-webfont.woff') format('woff'),
         url('../fonts/filmcryptic-webfont.ttf') format('truetype'),
         url('../fonts/filmcryptic-webfont.svg#film_crypticregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kg-tangled-up-in-you_regular';
    src: 
		 url('../fonts/kg-tangled-up-in-you.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euphoria_scriptregular';
    src: 
		 url('../fonts/euphoriascript-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
  font-family: 'sketch_blockbold';
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.9rem;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

a {
  color: #1f1f1f;
  font-weight: bold;
}

a:focus {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #742C50;
}

ul {
  list-style: square outside none;
}

  
/* navigation section */
.navbar {
  background: #1f1f1f;
}

.navbar-brand {
	margin-left: -1rem;
}

.navbar-dark .navbar-toggler {
  border: none;
	font-size: 2rem;
}

.navbar-dark .navbar-toggler:focus {
  outline: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(116,44,80, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'sketch_blockbold';
  color: #A99A80;
  font-size: 2rem;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #742C50;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #742C50;
	background-color: #A99A80;
}



/* padded section */
.tyk-pad-section {
  padding: 10rem 0 0;
}

/* remove padding from columns and make row margin 0*/
.no-gutter {
    margin: 0;
}

.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

/* main sections */
#tyk-home {
	padding: 8rem 0 0;
	min-height: 100%;
  background: url(../images/wall.jpg) no-repeat center center fixed;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tyk-home .tyk-hook {
	position: relative;
	top: 1.5rem;
}

#tyk-home .tyk-sign {
  background: url(../images/chalkboard.jpg) center center no-repeat ;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,.5);
}

#tyk-home .tyk-home-hr-top-1 {
	border-top: 0.2rem solid rgba(169, 154, 128, .8);
}

#tyk-home .tyk-home-hr-top-2 {
	border-top: 0.2rem dashed rgba(169, 154, 128, .8);
}

#tyk-home .tyk-home-hr-middle-1 {
	border-top: 0.1rem solid rgba(169, 154, 128, .8);
}

#tyk-home .tyk-home-hr-bottom-1 {
	border-top: 0.2rem dashed rgba(169, 154, 128, .8);
}

#tyk-home .tyk-home-hr-bottom-2 {
	border-top: 0.2rem solid rgba(169, 154, 128, .8);
}

#tyk-home .tyk-home-higlight-1 {
	font-family: 'euphoria_scriptregular';
	color:	#742C50;
	font-weight: bold;
  font-size: 6rem;
	display:	inline;
	line-height: 0.9;
	padding-left: 1rem;
}

#tyk-home .tyk-home-flourish {
  font-family: 'sketch_blockbold';
	color: #742C50;
  font-weight: bold;
  font-size: 0;
  line-height: 0.4;
}

@media (min-width: 400px) {
	#tyk-home .tyk-home-flourish {
		font-size: 6rem;
	}
}

@media (min-width: 700px) {
	#tyk-home .tyk-home-flourish {
		font-size: 10rem;
	}
}

#tyk-home .tyk-home-higlight-2 {
	font-family: 'sketch_blockbold';
	font-size: 4.7rem;
	line-height: 0.9;
}

#tyk-home .tyk-home-higlight-3 {
	font-family: 'kg-tangled-up-in-you_regular';
	line-height: 0.9;
  font-size: 7rem;
}

#tyk-home .tyk-home-higlight-4 {
	font-family: 'sketch_blockbold';
	font-size: 4.7rem;
	line-height: 0.9;
}

#tyk-home .tyk-home-lists {
  font-family: 'film_crypticregular';
	text-align: left;
}

#tyk-home .card {
  background-color: transparent;
  border: none;
	margin-bottom: 0;
}

#tyk-home .card-body {
	padding-left: 0;
	padding-right: 0;
}

#tyk-home ul {
	font-size:  1.5rem;
	font-weight:  bold;
	list-style: none;
	padding: 0;
}

#tyk-home ul li svg{
	margin-right: 1rem;
}

#tyk-validate {
  background: url(../images/lights.png) no-repeat left top;
  background-color: #742C50;
  color: #A99A80;
  min-height: 100%;
}

@media (max-width: 768px) {
	#tyk-validate {
	  justify-content: flex-end;
	}
}

#tyk-validate  .carousel{
  margin: 0 auto;
}

#tyk-validate  .carousel-indicators {
	bottom: 0;
}

#tyk-validate  .carousel-indicators  li{
  background-color: #A99A80;
}

#tyk-validate  .carousel-indicators  .active{
  background-color: #1f1f1f;
}

#tyk-validate  .carousel-caption {
  color: #A99A80;
  font-size: 1rem;
  bottom: -19%;
	position: relative;
	right: auto;
  left: auto;
}

#tyk-validate  .carousel-caption   a{
  color: #A99A80;
  font-weight: bold;
}

#tyk-validate  .carousel-caption   a:hover{
  color: #1f1f1f;
  font-weight: bold;
}

#tyk-validate .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A99A80' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#tyk-validate .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A99A80' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#tyk-collaborate {
  background: url(../images/chairs.png) no-repeat center center fixed;
  background-color: #575757;
  min-height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tyk-collaborate .card {
  background-color: rgba(0,0,0,.5);
  border: none;
}

#tyk-collaborate ul {
	margin-left: 1.7em;
}

#tyk-collaborate ul li svg{
	margin-top: .25rem;
}


#tyk-communicate {
  background: url(../images/telephone-small.png) no-repeat right bottom; 
  background-color: #A99A80;
  color: #742C50;
  min-height: 90%;
}

@media (min-width: 768px) {
#tyk-communicate {
  background: url(../images/telephone.png) no-repeat right bottom;
  background-color: #A99A80;
  }
}

#tyk-communicate p {
  font-weight: bold;
}


#tyk-communicate a {
  color: #742C50;
}

#tyk-communicate a:hover, #tyk-communicate a:focus {
  color: #1f1f1f;
}

footer {
  background-color: #1f1f1f;
}
